
.hero-bg{
  background:#0e7b50;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* button */
.btn {
  white-space: normal; /* ให้ปุ่มแสดงหลายบรรทัดถ้าชื่อโรคยาว */
  font-size: 1.05rem;
}

.navbar-dgoat {
    background-color: #0e7b50;
    padding: 0.5rem 1rem;
}

.navbar-brand img {
    height: 40px;
    margin-right: 10px;
}

.navbar-nav .nav-link {
    color: white !important;
    font-weight: bold;
    margin-left: 1rem;
}

.navbar-toggler {
    border: none;
}

.hero-container {
  background-color: #0e7b50;
  border-radius: 12px;
}

.goat-image {
  height: 300px;
  width: 100px; /* กำหนดความกว้างเริ่มต้น */
  object-fit: cover;
  transition: all 0.8s ease;
  cursor: pointer;
  border-radius: 16px;
}


/* เมื่อเป็นรูปที่ active → ขยาย */
.goat-image.active {
  width: 250px;
}

/*
.box-img {
  box-shadow: 4px 5px 10px 14px rgba(0, 0, 0, 0.31);
  border-radius: 40px;
}
*/ 