{% extends 'components/base.html' %}

{% load static %}
{% block site_title %}DGOAT - เกี่ยวกับเรา {% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block content %}
<!-- Main Content -->
<div class="main-content">
    <header class="header">
        <h1>เกี่ยวกับเรา</h1>
    </header>

    <div class="about-container">
        <!-- Background Decorations -->
        <div class="bg-decorations">
            <div class="circle circle-1"></div>
            <div class="circle circle-2"></div>
            <div class="circle circle-3"></div>
            <div class="dots-pattern"></div>
        </div>

        <!-- Content Section -->
        <div class="content-wrapper">
            <div class="text-content">
                <h2 class="about-title">เกี่ยวกับเรา</h2>
                <h3 class="about-subtitle">เพราะการรักษาที่รวดเร็วและถูกต้องนั้น<br> คือเป้าหมายของเรา</h3>

                <div class="about-text">
                    <p>ในโลกของเกษตรกรรมปศุสัตว์ โดยเฉพาะในกลุ่มผู้เลี้ยงแพะ ปัญหาสำคัญที่พบอยู่บ่อยครั้งคือการวินิจฉัยโรคอย่างล่าช้า หรือไม่แม่นยำ อันเกิดจากการขาดแคลนสัตวแพทย์หรือความรู้เชิงลึกของผู้เลี้ยงในการแยกแยะอาการของโรคต่าง ๆ ที่มีลักษณะคล้ายกัน ด้วยเหตุนี้เอง เราจึงได้ริเริ่มโครงการ “ระบบสนับสนุนการตัดสินใจในการวินิจฉัยโรคแพะโดยใช้เทคนิคเหมืองข้อมูล”</p>

                    <p>ระบบนี้ถูกพัฒนาขึ้นจากความตั้งใจที่จะช่วยยกระดับคุณภาพชีวิตของเกษตรกรผู้เลี้ยงแพะ โดยให้สามารถเข้าถึงเครื่องมือที่ช่วยในการ ตัดสินใจเบื้องต้น เกี่ยวกับอาการของแพะได้อย่างรวดเร็ว ถูกต้อง และเชื่อถือได้มากขึ้น เพื่อลดภาระงานของสัตวแพทย์หรือสัตวบาล</p>
                </div>
            </div>

            <div class="image-gallery">
                <div class="image-card image-1">
                    <img src="{% static 'images/ml.jpg' %}" alt="Architecture 1" />
                </div>

                <div class="image-card image-3">
                    <img src="{% static 'images/goat_2.jpg' %}" alt="Architecture 3" />
                </div>
            </div>
        </div>

         <div class="bg-decorations">
            <div class="circle circle-1"></div>
            <div class="circle circle-2"></div>
            <div class="circle circle-3"></div>
            <div class="dots-pattern"></div>
        </div>

        <!-- Bottom Navigation Dots -->
        <div class="nav-dots">
            <div class="dot active"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>

        <div class="image-bottom">
            <img src="{% static 'images/about_-work.png' %}" alt="Image" class="bottom-image">
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script src="{% static 'js/about.js' %}"></script>
{% endblock %}
