{% extends 'components/base.html' %}

{% load static %}
{% block site_title %}DGOAT - ข้อมูลโรค {% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock %}
{% block content %}
<div class="main-content">
  <header class="header">
    <h1>โรคของแพะ</h1>
  </header>

  <div class="content-grid">
    <div class="disease-grid">
      {% for disease in diseases %}
        {% if disease.id %}
          <a href="{% url 'detail' disease.id %}" class="text-decoration-none">
            <div class="disease-card">
              {% if disease.image %}
                <img src="{{ disease.image.url }}" alt="{{ disease.title }}" class="disease-img">
              {% else %}
                <img src="{% static 'images/default.jpg' %}" alt="No image" class="disease-img">
              {% endif %}
              <div class="disease-title">
                {{ disease.title }}
              </div>
            </div>
          </a>
        {% else %}
          <div class="disease-card">
            <img src="{% static 'images/default.jpg' %}" alt="No image" class="disease-img">
            <div class="disease-title">
              {{ disease.title }} (ยังไม่มีข้อมูล)
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
