{% extends 'components/base.html' %}
{% load static %}

{% block site_title %}DGOAT - อื่นๆ{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/result.css' %}">
{% endblock %}

{% block content %}
<div class="main-content">
  <div class="header">
    <h1>โรคอื่นๆ</h1>
  </div>

  <div class="content-wrapper">
     {% for disease in other_diseases %}
      <div class="result-card">
        <img src="{{ disease.image }}" alt="{{ disease.title }}" class="disease-image">
        <div class="disease-info">
          <div class="disease-name">{{ disease.title }}</div>
          <div class="progress-container">
            <div class="progress-bar" style="width: {{ disease.prob }}%"></div>
          </div>
        </div>
        <div class="percentage-info">
          <div class="percentage">{{ disease.prob }}%</div>
          {% if disease.pk %}
          <a href="{% url 'detail' pk=disease.pk %}" class="detail-button">ดูรายละเอียด</a>
          {% endif %}

        </div>
      </div>
      {% endfor %}

    <div class="back-button-container">
      <a href="{% url 'result' %}" class="back-button">
         กลับไปผลลัพธ์
      </a>
    </div>
  </div>
</div>
{% endblock %}
