{%  load static %}
<footer class="bg-dark text-white pt-3 pb-1 ">
  <div class="container">
    <div class="row  justify-content-center">
      <!-- Column 1 -->
      <div class="text-white text-center text-lg-center ps-5">
        <img src="{% static 'app_goat/logo.png' %}" alt="โลโก้ DGOAT" style="height: 40px;">
        <h5 class="mt-2">D G O A T</h5>
        <p class="small">ระบบช่วยวินิจฉัยสุขภาพแพะสำหรับเกษตรกรไทย</p>
      </div>
 <!-- Column 3 (optional) -->
      <!-- ... -->
    </div>

    <!-- ✅ อยู่ด้านนอก row -->
    <hr class="border-secondary">
    <p class="text-secondary small mb-0 text-center">&copy; 2025 DGOAT. All rights reserved.</p>
  </div>
</footer>
