{% load static %}
<nav class="navbar navbar-expand-lg navbar-dgoat " style="background-color: #0e7b50;">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center text-white" href="#">
            <img src="{% static 'app_goat/logo.png' %}" alt="DGOAT Logo">
            <strong>D G O A T</strong>
        </a>
        <button class="navbar-toggler text-white" type="button"
        data-bs-toggle="collapse" data-bs-target="#navbarDgoat"
        aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarDgoat">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">หน้าแรก</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'disease_list' %}">โรคทั้งหมด</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">วินิจฉัยโรค</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">เกี่ยวกับเรา</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
