{% extends 'app_goat/components/base.html' %}
{% block site_title %} วินิจฉัยโรคแพะ {% endblock %}
{% block content %}
<div class="container mt-5 text-white">
  <h2>วินิจฉัยโรคแพะ</h2>
  <form method="POST" action="{% url 'diagnosis_result' %}">
    {% csrf_token %}
    <div class="row">
      {% for symptom in symptoms %}
      <div class="col-md-6 mb-2">
        <label>
          <input type="checkbox" name="{{ symptom }}"> {{ symptom|title }}
        </label>
      </div>
      {% endfor %}
    </div>
    <button type="submit" class="btn btn-warning mt-3">วินิจฉัย</button>
  </form>
</div>
{% endblock %}
